$primary-color: rgba(57, 205, 204, 1);
$border-color: rgba(84, 95, 125, 0.15);
$font-family: AvenirNext;

.input-container {
  margin-bottom: 20px;
}

.input-wrapper {
  display: flex;
  border-radius: 5px;
  padding: 5px;
  border: 2px solid $border-color;
}

.input {
  border: none;
  font-size: 14px;
  opacity: 0.6;
  outline: none;
  font-family: $font-family;
  background-color: transparent;
  width: 100%;
  padding: 10px;
}

.toggle-password {
  border: none;
  font-size: 10px;
  display: inline-block;
  letter-spacing: 2px;
  font-family: $font-family;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
  background-color: transparent;
  color: $primary-color;
}
