/* UserDetails.module.scss */
.container {
  padding: 20px;
  width: 100%;
  background: #fbfbfb;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .actions {
    button {
      margin-right: 10px;
    }
  }
}

.userCard {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .avatar {
    margin-right: 20px;
  }

  .details {
    .name {
      font-size: 1.25rem;
      font-weight: bold;
    }

    .tier {
      background-color: yellow;
      border-radius: 4px;
      padding: 2px 8px;
      margin: 5px 0;
    }

    .balance {
      font-size: 1.25rem;
      font-weight: bold;
    }
  }
}

.tabs {
  margin-bottom: 20px;

  .tabList {
    display: flex;
    border-bottom: 1px solid #e2e8f0;
    margin-bottom: 20px;

    .tab {
      padding: 10px 20px;
      cursor: pointer;
      margin-right: 5px;
      color: #000000;
      opacity: 0.8;
      font-family: "SFCompact";

      &.active {
        border-bottom: 2px solid #39cdcc;
        font-family: "Work Sans";
        color: #39cdcc;
        opacity: 1;
        font-weight: 400;
      }
    }
  }

  .tabPanel {
    display: none;
    padding: 30px;
    background-color: #ffffff;

    :last-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none;
    }

    &.active {
      display: block;
    }
  }
}

.section {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #e9ecf2;

  .sectionTitle {
    font-size: 1rem;
    font-weight: 500;
    color: #213f7d;
    margin-bottom: 20px;
  }

  .sectionSpace {
    margin-top: 60px;
  }

  .infoGrid4,
  .infoGrid5 {
    display: grid;
    gap: 20px;

    .infoItem {
      display: flex;
      flex-direction: column;
      line-height: 1.5;

      div {
        font-weight: 500;
        font-size: 16px;
      }

      .label {
        color: #545f7d;
        font-weight: 400;
        font-size: 12px;
        padding-bottom: 5px;
        text-transform: uppercase;
      }
    }
  }

  .infoGrid4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .infoGrid5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
